{% extends 'main_base.html' %}
{% load static %}
{% block title %}
Duplicate OR NUMBER
{% endblock %}
{% block content %}
   <!-- Begin Page Content -->
   <div class="container-fluid">
    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" >OPS!</div>
        <h2><font color="red">Duplicated OR NUMBER!</font></h2>
        <p class="lead text-gray-800 mb-5">Please input another OR number</p>
        <p class="text-gray-500 mb-0">Close this page..Thank you!</p>
        <!-- <a href="index.html">&larr; Back to Dashboard</a> -->
    </div>

</div>
{% endblock %}