<!-- Modal -->
<div class="modal fade" id="update_receipt" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update Receipt Verification!</h5>
        </div>
        <div class="modal-body">
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            <div class="col"><font color="red"><b>OR NUMBER:</b></font>&nbsp;<font color="black"><b></b></font></div>
        </div>
        <form action="{% url 'update_or' line_id orno %}" method="post" autocomplete="off">
          {% csrf_token %}
        <div>
          <label>Input Password</label>
         
          <input type="password" class="form-control" name="pass_verify"  placeholder="*********" required>
          <input type="hidden" value="{{ line_id }}" name="line_id">
          <input type="hidden" value="{{ payment_id }}" name="payment_id">
          <input type="hidden" id="amt_val" name="amount">
          <input type="hidden" id="particular_val" name="particular">
         
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" >Proceed</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  